[Unit]
Description=MET Service pressure charts
DefaultDependencies=no
After=network.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/bin/node metservice.js
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=default.target
